In [12]:
# Dependencies
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [13]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [14]:
# twitter url 
twitter_url = "https://twitter.com/marswxreport?lang=en"

In [61]:
#html = browser.html

In [63]:
#T_soup = bs(html, "html5lib")

In [65]:
# twitter_weather scraping
#mars_weather = T_soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text

In [67]:
# scraping output
#print(mars_weather)

In [68]:
# pandas mars fact url
facts_url= 'https://space-facts.com/mars/'

In [69]:
# use Pandas to get table
tables = pd.read_html(facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [70]:
table_mars = (tables[0])
table_mars.columns = ['Measure', 'Value', 'Value']
table_mars

              Measure            Value            Value
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:    -153 to 20 °C      -88 to 58°C

In [71]:
# convert to HTML
table_mars_html = mars.to_html(classes = 'table_mars')

In [72]:
table_mars_html = table_mars_html.replace('\n', ' ')

In [73]:
print(table_mars_html)

<table border="1" class="dataframe table_mars">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Measure</th>       <th>Value</th>       <th>Value</th>     </tr>   </thead>   <tbody>     <tr>       <th>0</th>       <td>Diameter:</td>       <td>6,779 km</td>       <td>12,742 km</td>     </tr>     <tr>       <th>1</th>       <td>Mass:</td>       <td>6.39 × 10^23 kg</td>       <td>5.97 × 10^24 kg</td>     </tr>     <tr>       <th>2</th>       <td>Moons:</td>       <td>2</td>       <td>1</td>     </tr>     <tr>       <th>3</th>       <td>Distance from Sun:</td>       <td>227,943,824 km</td>       <td>149,598,262 km</td>     </tr>     <tr>       <th>4</th>       <td>Length of Year:</td>       <td>687 Earth days</td>       <td>365.24 days</td>     </tr>     <tr>       <th>5</th>       <td>Temperature:</td>       <td>-153 to 20 °C</td>       <td>-88 to 58°C</td>     </tr>   </tbody> </table>

In [74]:
# Mars Hemispheres
# image resolution
#executable_path = {'executable_path': 'chromedriver.exe'}

In [75]:
#browser = Browser('chrome', **executable_path, headless=False)

In [76]:
# url scraping 
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [77]:
#broswer page
#browser.visit(url5)

In [78]:
# html broswer
#html = browser.html

In [79]:
#bs
#soup5 = bs(html,"html5lib")

In [80]:
# dictionary to hold 
dictionary = {}